*{
    color: black;

}
.body-tuyendung{
	margin: 50px ;
	width: 90%;
    font-size: 20px;
}
.tuyendung-header{
	height: 40px;
	font-weight: bold;
	line-height: 40px;
	padding-left: 10px;
	background: rgb(33, 79, 186);
    font-size: 30px;
    color: red;
}
.tuyendung-info{
	margin: 10px;
    background: beige;
}
.tieude{
	color: #0C9;
	text-align: center;
	font-size: 28px;
}
.tuyendung-noidung{
	margin:10px 0 15px 25px;
}
ul li span{
	font-weight: bold;
	color: red;
}